/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 de jun de 2023, 23:23:50
    Author     : DER
*/

*{
    background: black;
    
}

body{

    margin: 0px;
/*    background-image: url('../img/login.png');*/
    padding: 0% 20% 0% 20%;

    background-image: url('#{request.contextPath}/resources/img/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
/*    background-image: url('../img/forbidden.png');
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    margin: 0;
    padding: 0;*/
    
}

header {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav li:first-child {
    margin-left: 0;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

nav li a:hover {
    background-color: #555;
}

#logo {
            max-height: 200px;
            margin: 0 auto;
}

.overlayy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste o valor do alfa para ajustar a intensidade do escurecimento */
    z-index: -1;
}